name: Cargo Build & Test & Clippy

on:
    push:
    pull_request:

env:
    CARGO_TERM_COLOR: always

jobs:
    build_and_test:
        name: KEALint - latest
        runs-on: ubuntu-latest
        strategy:
            matrix:
                toolchain:
                    - stable
        steps:
            - uses: actions/checkout@v6
            - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
            - run: cargo build --verbose
            - run: cargo test --verbose
            - run: cargo clippy --verbose
